<% include ../partials/header %>

    <div class="row">
        <h1 class="text-center">Add new comment to <%= tool.name %>'s page</h1>
        <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
              <form action="/catalog/<%= category_id %>/<%= tool._id %>/comments" method ="POST">
                  <div class="form-group">   
                      <input class="form-control" type = "text" name = "comment[text]" placeholder = "text">
                  </div>
                  <div class="form-group">
                      <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                  </div>  
              </form>  
              <a href="/catalog/<%= category_id %>/<%= tool._id %>">Go back</a>
        </div>
    </div>

<% include ../partials/footer %>